@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("./poppins-v21-latin-regular.woff2") format("woff2");
}

* {
    font-family: "Poppins";
}

html {
    /* background: linear-gradient(45deg, #3e5c6b, #2f4a56, #243642, #1a2b34); */
}

body {
    background: #e4e4e4;
}

.delivery-background {
    position: relative;
    background-image: url("./static/delivery.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.delivery-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.welcome-background {
    position: relative;
    background-image: url("./static/welcome-sec.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.welcome-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.about-background {
    position: relative;
    background-image: url("./static/about.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.about-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.aboutt-background {
    position: relative;
    background-image: url("./static/aboutt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.aboutt-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.persep-background {
    position: relative;
    background-image: url("./static/persep.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.persep-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.borders-background {
    position: relative;
    background-image: url("./static/borders.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.borders-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.worldwide-background {
    position: relative;
    background-image: url("./static/worldwide.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.worldwide-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.package-background {
    position: relative;
    background-image: url("./static/package.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.package-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.service-background {
    position: relative;
    background-image: url("./static/service.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.service-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.phone-background {
    position: relative;
    background-image: url("./static/phone.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.phone-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.how-background {
    position: relative;
    background-image: url("./static/how.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.how-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.review-background {
    position: relative;
    background-image: url("./static/review.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.review-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.cta-background {
    position: relative;
    background-image: url("./static/cta.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.cta-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.footer-background {
    position: relative;
    background-image: url("./static/footer.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.footer-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.tracking-background {
    position: relative;
    background-image: url("./static/tracking.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.tracking-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}

.product-background {
    position: relative;
    background-image: url("./static/product.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.product-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
        26,
        43,
        52,
        0.8
    );
    z-index: 1;
}
